body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* first section design */

.first-section {
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    display: flex;
    width: 1920px;
    height: 850px;
}

.first-section-content {
    width: 600px;
    margin-left: 220px;
    /* text-align: center; */
    margin-top: 180px;
}

.first-section-image {
    margin-top: 50px;
    margin-right: 180px;
}

.section-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    /* margin-top: 110px; */
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
}

.section-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

/* second section start */

.featured {
    margin-top: 150px;
}
.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.under-title{
    color: #272727;
font-size: 24px;
font-weight: 700;
margin-top: -50px;
text-decoration-line: underline;
}
.flower-picture {
    display: flex;
    margin-top: 50px;
    text-align: center;
}

.first-picture {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.for-desing-one {
    /* width: 310px;
    height: 538px;
    margin-top: 50px; */
    width: 310px;
    height: 428px;
    padding: 110px 78px 67px 76px;
}

.second-picture {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.for-desing-two {
    width: 370px;
    height: 370px;
    padding: 117px 47px 118px 47px;
}

.third-picture {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.for-desing-third {
    width: 314px;
    height: 471px;
    padding: 67px 75px 67px 75px;
}


.flower-picture {
    gap: 3rem;
    margin-left: 200px;

}
.description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}