body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* first section design */

.first-section {
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    display: flex;
    width: 2000px;
    height: 850px;
    /* height: 98vh;
    width: 100vw; */
}

.first-section-content {
    width: 600px;
    margin-left: 220px;
    /* text-align: center; */
    margin-top: 180px;
}

.first-section-image {
    margin-top: 50px;
    margin-right: 180px;
}

.section-title {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
}

.section-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

/* second section start */

.featured {
    margin-top: 150px;
}

.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.under-title {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    margin-top: -50px;
    text-decoration-line: underline;
}

.flower-picture {
    display: flex;
    margin-top: 50px;
    text-align: center;
    gap: 3rem;
    margin-left: 200px;
}

.first-picture {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.for-desing-one {
    width: 310px;
    height: 428px;
    padding: 110px 78px 67px 76px;
}

.second-picture {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.for-desing-two {
    width: 370px;
    height: 370px;
    padding: 117px 47px 118px 47px;
}

.third-picture {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}

.for-desing-third {
    width: 314px;
    height: 471px;
    padding: 67px 75px 67px 75px;
}

.description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}

/* bonus part */

.all-flower {
    display: flex;
    margin-top: 50px;
    gap: 3rem;
    margin-left: 185px;
    text-align: center;
}

.bonus-flower-section {
    margin-top: 150px;
    background-image: linear-gradient(145deg,rgba(39, 39, 39, 0.05) , pink);
    width: 2000px;
    height: 720px;
}

.bonus-flower {
    text-align: center;
}

.discount-title {
    padding-top: 40px;
    color: rgb(210, 22, 22);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.discount-description {
    color: rgba(69, 4, 4, 0.6);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.first-flower {
    width: 342px;
    height: 396px;
    border-radius: 10px;
}

.second-flower {
    width: 342px;
    height: 396px;
    border-radius: 10px;
}

.third-flower {
    width: 342px;
    height: 396px;
    border-radius: 10px;
}

.fourth-flower {
    width: 342px;
    height: 396px;
    border-radius: 10px;
}

.flower-name {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    margin-top: 25px;
}

/* third section start */

.third-section {
    margin-top: 130px;
    width: 2000px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
}

.offer-title-head {
    color: #272727;
    font-weight: 800px;
    margin-left: 10px;
    color: #272727;
    font-size: 35px;
    font-style: normal;
}

.offer-title-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 594px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.offer-image {
    margin: 100px 429px 100px 320px;
}

.offer-title {
    margin-left: 340px;
    text-align: center;
}

.extra-color {
    color: #E55473;
}

/* fourth section start */

.fourth-section {
    margin-top: 150px;
    text-align: center;
}

.fourth-section-image {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 240px;

}

.fourth-section-heading {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.fourth-section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}

/* fifth section */

.fifth-section {
    margin-top: 150px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    margin-bottom: 200px;
    margin-left: 240px;
}

.fith-section-content {
    text-align: center;
}

.fifth-section-title {
    color: #272727;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
    padding: 122px;
}

.fifth-section-description {
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
    margin-top: -120px;
}

.for-mail {
    width: 700px;
    height: 58px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}

/* footer part */

.footer-container {
    background-color: black;
    margin-top: -80px;
    width: 2000px;
}

.footer-part {
    background: #111010;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    color: white;
}

.footer-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
}

.for-colour {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.footer-address {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;

}